# Created from template: https://github.com/github/gitignore/blob/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
MANIFEST

# Desktop Environment (KDE)
.directory
*.kate-swp

# Other
tmp/
